body {
  background-color : aqua;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.myPortrait {
  width: 450px;
  height: 600px;
}
